<div class="openattic-modal-header">
  <span ng-hide="editing">Add subuser: {{subuser.subuser}}</span>
  <span ng-show="editing">Edit subuser: {{subuser.subuser}}</span>
</div>
<form name="form"
      role="form"
      class="form-horizontal"
      novalidate>
  <div class="openattic-modal-content">
    <!-- Username -->
    <div class="form-group">
      <label class="col-sm-3 control-label"
             for="user_id">Username</label>
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="icon-prepend fa fa-user"></i>
          </span>
          <input class="form-control"
                 type="text"
                 ng-model="user.user_id"
                 name="user_id"
                 id="user_id"
                 readonly>
        </div>
      </div>
    </div>
    <!-- Subuser -->
    <div class="form-group"
         ng-class="{'has-error': (form.$submitted || form.subuser.$dirty) && form.subuser.$invalid}">
      <label class="col-sm-3 control-label"
             for="subuser">Subuser</label>
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="icon-prepend fa fa-user"></i>
          </span>
          <input class="form-control"
                 type="text"
                 placeholder="Subuser..."
                 ng-model="subuser.subuser"
                 ng-readonly="editing"
                 ng-required="!editing"
                 name="subuser"
                 id="subuser">
        </div>
        <span class="help-block tc_subuserRequired"
              ng-show="(form.$submitted || form.subuser.$dirty) && form.subuser.$error.required">
          This field is required!
        </span>
        <span class="help-block tc_subuserNotUnique"
              ng-show="(form.$submitted || form.subuser.$dirty) && form.subuser.$error.uniquesubuser">
          The chosen subuser ID is already in use.
        </span>
      </div>
    </div>
    <!-- Permission -->
    <div class="form-group"
         ng-class="{'has-error': (form.$submitted || form.permissions.$dirty) && form.permissions.$invalid}">
      <label class="col-sm-3 control-label"
             for="permissions">Permission</label>
      <div class="col-sm-9">
        <div class="input-group">
          <select class="form-control"
                  ng-model="subuser.permissions"
                  name="permissions"
                  id="permissions"
                  required>
            <option value="">-- Select a permission --</option>
            <option value="read">read</option>
            <option value="write">write</option>
            <option value="read-write">read, write</option>
            <option value="full-control">full</option>
          </select>
        </div>
        <span class="help-block tc_permissionsRequired"
              ng-show="(form.$submitted || form.permissions.$dirty) && form.permissions.$error.required">
          This field is required!
        </span>
      </div>
    </div>
    <fieldset ng-show="!editing">
      <legend>Swift key</legend>
      <!-- Generate secret -->
      <div class="form-group"
           ng-show="!editing">
        <div class="col-sm-offset-3 col-sm-9">
          <div class="checkbox checkbox-primary">
            <input type="checkbox"
                   ng-model="subuser.generate_secret"
                   name="generate_secret"
                   id="generate_secret">
            <label for="generate_secret">
              Generate secret
            </label>
          </div>
        </div>
      </div>
      <!-- Secret key -->
      <div class="form-group"
           ng-class="{'has-error': (form.$submitted || form.secret_key.$dirty) && form.secret_key.$invalid}"
           ng-show="!editing && !subuser.generate_secret">
        <label class="col-sm-3 control-label"
               for="secret_key">Secret key</label>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="icon-prepend fa fa-envelope-o"></i>
            </span>
            <input class="form-control"
                   type="password"
                   placeholder="Secret key..."
                   ng-model="subuser.secret_key"
                   ng-required="!editing && !subuser.generate_secret"
                   name="secret_key"
                   id="secret_key">
            <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default"
                      oa-password-button="secret_key">
              </button>
              <button type="button"
                      class="btn btn-default"
                      uib-tooltip="Copy to clipboard"
                      oa-clipboard
                      oa-clipboard-target="secret_key"
                      oa-clipboard-text="secret key">
                <i class="icon-prepend fa fa-clipboard"></i>
              </button>
            </span>
          </div>
          <span class="help-block tc_secret_keyRequired"
                ng-show="(form.$submitted || form.secret_key.$dirty) && form.secret_key.$error.required">
            This field is required!
          </span>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <oa-submit-button form="form"
                        on-submit="submitAction(form)">
        Submit
      </oa-submit-button>
      <button type="button"
              class="btn btn-sm btn-default tc_cancelSubuserButton"
              ng-click="cancelAction()">
        Cancel
      </button>
    </div>
  </div>
</form>
