<oa-loading-panel message="Loading bucket data..."
                  ng-show="!error && !formDataIsReady">
</oa-loading-panel>
<oa-error-panel on-back="goToListView()"
                ng-if="editing && error">
  The bucket data could not be loaded.
</oa-error-panel>

<div class="col-sm-12 col-lg-6">
  <form name="bucketForm"
        role="form"
        class="form-horizontal"
        ng-show="!error && formDataIsReady"
        novalidate
        oa-check-form>
    <div class="panel panel-default">
      <div class="panel-heading tc_formHeadline">
        <h3 ng-hide="editing"
            class="panel-title tc_bucketAddTitle">Add bucket: {{bucket.bucket}}</h3>
        <h3 ng-show="editing"
            class="panel-title tc_bucketEditTitle">Edit bucket: {{bucket.bucket}}</h3>
      </div>
      <div class="panel-body">
        <!-- Name -->
        <div class="form-group"
             ng-class="{'has-error': (bucketForm.$submitted || bucketForm.bucket.$dirty) &&
                         bucketForm.bucket.$invalid}">
          <label class="col-sm-3 control-label"
                 for="bucket">Name</label>
          <div class="col-sm-9">
            <input class="form-control"
                   type="text"
                   placeholder="Name..."
                   ng-model="bucket.bucket"
                   ng-readonly="editing"
                   ng-required="!editing"
                   name="bucket"
                   id="bucket"
                   autofocus
                   ceph-rgw-bucket-name-validate
                   ceph-rgw-bucket-name-unique>
            <span class="help-block tc_bucketRequired"
                  ng-show="(bucketForm.$submitted || bucketForm.bucket.$dirty) &&
                                  bucketForm.bucket.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_bucketNotUnique"
                  ng-show="(bucketForm.$submitted || bucketForm.bucket.$dirty) &&
                                  bucketForm.bucket.$error.cephRgwBucketNameUnique">
              The chosen name is already in use.
            </span>
            <span class="help-block tc_bucketInvalid"
                  ng-show="(bucketForm.$submitted || bucketForm.bucket.$dirty) &&
                                bucketForm.bucket.$error.cephRgwBucketNameValidate">
              The value is not valid.
            </span>
          </div>
        </div>
        <!-- Id -->
        <div class="form-group"
             ng-show="editing">
          <label class="col-sm-3 control-label"
                 for="id">Id</label>
          <div class="col-sm-9">
            <input class="form-control"
                   type="text"
                   ng-model="bucket.id"
                   readonly>
          </div>
        </div>
        <!-- Owner -->
        <div class="form-group"
             ng-class="{'has-error': (bucketForm.$submitted || bucketForm.owner.$dirty) && bucketForm.owner.$invalid}">
          <label class="col-sm-3 control-label"
                 for="owner">Owner</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="icon-prepend fa fa-user"></i>
              </span>
              <select class="form-control"
                      ng-model="bucket.owner"
                      ng-options="owner for owner in owners"
                      name="owner"
                      id="owner"
                      required>
                <option value="">-- Select a user --</option>
              </select>
            </div>
            <span class="help-block tc_ownerRequired"
                  ng-show="(bucketForm.$submitted || bucketForm.owner.$dirty) && bucketForm.owner.$error.required">
              This field is required!
            </span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="button-group text-right">
          <oa-submit-button form="bucketForm"
                            on-submit="submitAction(bucketForm)">
            Submit
          </oa-submit-button>
          <button type="button"
                  class="btn btn-sm btn-default tc_backButton"
                  ng-click="goToListView()">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
