<div class="openattic-modal-header">
  <span>{{ $ctrl.title }}</span>
</div>
<form name="deleteForm"
      role="form"
      novalidate>
  <div class="openattic-modal-content">
    <span ng-transclude></span>
    <p>
      To confirm, please enter
      <kbd>yes</kbd> and click
      <kbd>Delete</kbd>, or cancel and return to the page.
    </p>
    <div class="form-group"
         ng-class="{'has-error': (deleteForm.$submitted || deleteForm.enteredName.$dirty) && deleteForm.enteredName.$invalid}">
      <input type="text"
             class="form-control"
             name="enteredName"
             placeholder="yes"
             autocomplete="off"
             ng-model="$ctrl.input.enteredName"
             ng-pattern="$ctrl.input.pattern"
             required
             autofocus>

      <!-- Error -->
      <span class="help-block"
            ng-show="(deleteForm.$submitted || deleteForm.enteredName.$dirty) && deleteForm.enteredName.$error.required">
        This field is required.
      </span>
      <span class="help-block"
            ng-show="(deleteForm.$submitted || deleteForm.enteredName.$dirty) && deleteForm.enteredName.$error.pattern">
        The input value does not match 'yes'.
      </span>
      <!-- end Error -->
    </div>
  </div>
  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <oa-submit-button form="deleteForm"
                        on-submit="$ctrl.confirm()">
        Delete
      </oa-submit-button>
      <button id="bot1-Msg1"
              class="btn btn-link btn-sm"
              ng-click="$ctrl.onCancel()">Cancel</button>
    </div>
  </div>
</form>
