<p>
  This module cannot be loaded due to a problem while trying to connect to the Ceph cluster
  with fsid <strong>{{ $ctrl.moduleAvailable.fsid }}</strong>
</p>

<hr>

<p>Please verify that:</p>
<ul>
  <li>Ceph is correctly configured in file <strong>/etc/ceph/*.conf</strong></li>
  <li>
    File <strong>/etc/ceph/*.conf</strong> and <strong>/etc/ceph/*.keyring</strong>
    can be read by the <strong>openattic</strong> user<br>
  </li>
  <ul>
    <li>
      You can change the user group
      by running the following commands:<br>
      <kbd># chgrp openattic /etc/ceph/*.{conf,keyring}</kbd><br>
      <kbd># chmod g+r /etc/ceph/*.{conf,keyring}</kbd>
    </li>
  </ul>
</ul>
